################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatabaseToExcel/Helpers/obj
/.vs
/DatabaseToExcel/Export.App/obj
/DatabaseToExcel/.vs/DatabaseToExcel
